@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;

@tailwind components;

@font-face {
    font-family: 'Monoglyceride';
    src: local('Monoglyceride'), url(/src/fonts/monog___.ttf) format('ttf');
}

@tailwind utilities;


.show {
    transition: opacity 400ms;
}

.hide {
    opacity: 0;
}
